:root {
  --main-color: #087f5b;
  --second-color: #e6fcf5;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.pagination {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-decoration: none;
}

.link:link,
.link:visited {
  color: var(--main-color);
}

.link:hover,
.link:active {
  color: var(--second-color);
  background-color: var(--main-color);
}

.link.current {
  color: var(--second-color);
  background-color: var(--main-color);
}

.btn {
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background: none;
}

.btn:hover {
  background-color: var(--main-color);
}

.btn-icon {
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--main-color);
}

.btn:hover .btn-icon {
  stroke: var(--second-color);
}
